html {
  height: 100%;
  font-family: 'Chelsea Market', sans-serif;
}

body {
  
  background: radial-gradient(#ffffff 0%, #e0dd86 25%, #c4ad77 50%, #b38fb5 75%, #a7cae5 100%);
}

p {
  color: rgba(50, 60, 60, 0.6);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 4px;
  margin: 30px 0 10px 0;
}

#box {
  font-size: 3em;
  letter-spacing: -0.045em;
  color: #FFF;
  text-align: center;
  margin: 0 10px;
  text-shadow: 0 3px 4px rgba(100, 100, 35, 0.97), 0 2px 0 rgba(50, 50, 25, 0.7);
  transition: all 0.2s ease;
}

#genre,#action,#things,#goals {
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
}

#action {
  color: rgba(255, 205, 255, 0.95);
}  

#things {
  color: rgba(160, 210, 255, 0.9);
}  

#goals {
  color: rgba(105, 255, 205, 0.8);
}  

#genre:hover,#action:hover,#things:hover,#goals:hover {
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.2), 0 6px 6px rgba(255, 255, 255, 0.4), 0 8px 18px rgba(255, 255, 255, 0.8), 0 22px 18px rgba(255, 255, 255, 0.5), 0 -4px 4px rgba(255, 255, 255, 0.2), 0 -6px 6px rgba(255, 255, 255, 0.4), 0 -8px 18px rgba(255, 255, 255, 0.8), 0 -22px 18px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.2);
  top: 12px;
  animation: mov 0.12s infinite;
}

@keyframes in {
  0% {
    transform: translatey(-30px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0);
  }
}

@keyframes mov {
  0% {
    transform: translatey(-30px);
    opacity: 0;
  }
  50% {
    transform: translatey(-15px);
    opacity: 1;
  }
  100% {
    transform: translatey(25px);
    opacity: 0;
  }
}