html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(to top, #ffffff 0%, #e0dd86 25%, #c4ad77 50%, #b38fb5 75%, #a7cae5 100%);
}

p {
  color: rgba(114, 123, 141, 0.6);
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  letter-spacing: 4px;
  margin: 20px 0 0;
}

#box {
  font-size: 3.4em;
  letter-spacing: -0.045em;
  color: #FFF;
  height: 100%;
  text-align: center;
  margin: 4% auto;
  text-shadow: 0 2px 8px rgba(108, 103, 32, 0.77), 0 2px 0 rgba(101, 106, 47, 0.24);
  transition: all 0.2s ease;
}

.genre,.action,.things,.goals {
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.action {
  color: rgba(255, 205, 255, 0.8);
}  

.things {
  color: rgba(205, 205, 255, 0.8);
}  

.goals {
  color: rgba(205, 255, 205, 0.8);
}  

.genre:hover,.action:hover,.things:hover,.goals:hover {
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.2), 0 6px 6px rgba(255, 255, 255, 0.4), 0 8px 18px rgba(255, 255, 255, 0.8), 0 22px 18px rgba(255, 255, 255, 0.5), 0 -4px 4px rgba(255, 255, 255, 0.2), 0 -6px 6px rgba(255, 255, 255, 0.4), 0 -8px 18px rgba(255, 255, 255, 0.8), 0 -22px 18px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.2);
  top: 12px;
  animation: mov 0.12s infinite;
}

@keyframes in {
  0% {
    transform: translatey(-30px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0);
  }
}

@keyframes mov {
  0% {
    transform: translatey(-30px);
    opacity: 0;
  }
  50% {
    transform: translatey(-15px);
    opacity: 1;
  }
  100% {
    transform: translatey(25px);
    opacity: 0;
  }
}
